<html>
<body>
    <div class="container">
        <h3>Image test</h3>
        <div>
            <h1>ERROR: <%= error.status %></h1>
            <p><%= message %></p>
        </div>
    </div>
</body>
</html>