//- .image-block
//-  
//-   img(src=image alt="Image Title")
- var img = data;
img(src=`data:image/png;base64, ${img}`)
//- - h3 Hello
//- -var source = data;
//-  img(src=source, alt="Image from MySql", srcset="")